@import './media.scss';

.calendar_wrapper{
    display: flex;
    margin: 15px 20px 0 270px;

    padding-bottom: 5px;
    border-bottom: 1px #dddddd solid;
    @include pad{
        margin-left: 220px;
    }
    @include mobile{
        margin: 10px 0 0 0;
        flex-wrap: wrap;
    }
    .title{
        width: 20%;
        color: #565656;
        font-weight: bold;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            width: 100%;
        }
    }
    .calendar{
        color: #565656;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        @include mobile{
            width: 100%;
        }
        .year,
        .date,
        .weekday,
        .time_now{
            height: 10px;
            line-height: 10px;
            padding: 10px 20px;
            @include mobile{
                width: 25%;
                font-size: 0.8em;
            }
        }
        .year{
            background-color: #e9ecef;
        }
        .date{
            background-color: #dee2e6;
        }
        .weekday{
            background-color: #ced4da;
        }
        .time_now{
            background-color: #adb5bd;
        }
    }
}