@import './media.scss';

.ctrl_bar{
    position: fixed;
    bottom: 30px;
    right: 30px;
    @include mobile{
        display: none;
    }
    div{
        padding: 5px;
        cursor: pointer;
        img{
            width: 80px;
        }
    }
}