@mixin pad{
    @media(max-width: 1024px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 768px){
        @content;
    }
}

.pomodoroTimerWrapper{
    margin: 20px 20px 20px 270px;
    border-radius: 15px;
    height: 87vh;
    background-color: #4EFEB3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    @include pad{
        margin-left: 220px;
    }
    @include mobile{
        margin: 10px 5px;
        position: relative;
        flex-wrap: wrap;
        font-size: 0.8em;
    }
    .container{
        position: relative;
        height: 400px;
        width: 400px;
        background-color: #FF6446;
        border-radius: 10em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include mobile{
            margin: 10px;
        }
        .triangle01{
            position: absolute;
            top: -40px;
            left: 170px;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
            border-bottom: 50px solid #02C874;
            @include mobile{
                left: 142px;
                top: -30px;
            }
        }
        
        .title{
            margin-top: 20px;
            width: 100%;
            h1{
                margin-top: 0px;
            }
            h4{
                margin: 0;
            }
            span{
                text-decoration: underline;
            }
        }
        .scheduleWrapper{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            .schedule{
                height: 40px;
                line-height: 40px;
                width: 80%;
                background-color: #fff;
                .text{
                    position: relative;
                    z-index: 2;
                }
                .complete{
                    position: relative;
                    top: -40px;
                    z-index: 1;
                    height: 40px;
                    background-color: #02C874;
                }
            }
        }
        .prompt{
            width: 100%;
        }
        .ctrlBar{
            width: 100%;
            div{
                margin-top: 10px;
                button{
                    width: 160px;
                    height: 30px;
                    background-color: #fff;
                    border: none;
                    border-radius: 15px;
                    padding: 5px 10px;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .testBar{
        position: relative;
        margin-left: 10px;
        padding: 25px;
        border-radius: 99em;
        background-color: #FF6446;
        color: #ffffff;
        input{
            width: 50px;
            text-align: center;
        }
        .triangle04{
            position: absolute;
            top: -20px;
            right: 60px;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 25px solid #02C874;
            @include mobile{
                right: 50px;
            }
        }
    }
}