@mixin pad{
    @media(max-width: 1024px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 768px){
        @content;
    }
}

.resume_wrapper{
    background-color: none;
    margin-top: 20px;
    margin-left: 270px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #565656;
    @include pad{
        margin-left: 180px;
    }
    @include mobile{
        margin: 0;
    }
    .header{
        width: 80%;
        display: flex;
        padding-bottom: 10px;
        border-bottom: solid #dddddd 1px;
        @include mobile{
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .text{
            padding: 10px 10px;
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            border-right: solid #dddddd 1px;
            @include pad{
                font-size: 0.8em;
            }
            @include mobile{
                width: 100%;
                font-size: 0.6em;
                border-right: none;
                text-align: center;
            }
            .title{
                width: 100%;
                h2{ 
                    margin: 20px 0;
                    text-decoration: underline;
                    @include mobile{
                        margin: 5px 0;
                    }
                }
                h3{ line-height: 2em; }
            }
            .connection{
                width: 100%;
                a{
                    display: block;
                    line-height: 2em;
                    color: #008c8c;
                    text-decoration: none;
                    @include mobile{
                        font-size: 8pt;
                    }
                }
            }
        }
        .item{
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include pad{
                margin-top: 10px;
                width: 100%;
            }
            img{
                margin-left: 20px;
                width: 100%;
            }
        }
    }
    .container{
        margin-top: 10px;
        width: 80%;
        .autobiography{
            p{ margin: 10px 0; }
            padding-bottom: 10px;
            border-bottom: solid #dddddd 1px;
        }
        .skills{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;
            border-bottom: solid #dddddd 1px;
            .title{
                width: 100%;
            }
            .front_end,
            .back_end{
                width: 50%;
                ul{
                    margin-top: 5px;
                    margin-left: 20px;
                    li{
                        padding: 10px 0;
                    }
                }
            }
        }
        .work_experience{
            margin-top: 20px;
            .work_item{
                border: 1px solid #dddddd;
                padding: 10px;
                margin: 15px 0;
                display: flex;
                .left{
                    width: 10%;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    @include mobile{
                        font-size: 20px;
                    }
                    .font{
                        padding: 20px;
                        width: 30px;
                        color: #565656;
                        background-color: #adb5bd;
                        @include pad{
                            padding: 10px;
                        }
                        @include mobile{
                            padding: 5px;
                            margin-right: 10px;
                        }
                    }
                }
                @include pad{
                    font-size: 0.8em;
                }
                @include mobile{
                    font-size: 0.6em;
                }
                .center{
                    width: 75%;
                    @include mobile{
                        width: 58%;
                        word-break: break-all;
                    }
                }
                .right{
                    width: 15%;
                    text-align: right;
                    @include mobile{
                        width: 32%;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}