.sidebar_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #000000;
    .sidebar{
        color: #ffffff;
        width: 250px;
        .photo{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            img{
                width: 150px;
            }
        }
        .title{
            margin-top: 10px;
            text-align: center;
        }
        .nav{
            margin-top: 30px;
            text-align: center;
            ul{
                li{
                    margin-top: 10px;
                    a{
                        color: #fff;
                        border: none;
                        text-decoration: none;
                    }
                    a:hover{
                        font-weight: bold;
                    }
                    .selected{
                        color: yellow;
                        font-weight: bold;
                    }
                }
            }
        }
        .remarks{
            margin-top: 80px;
            padding-left: 50px;
            line-height: 30px;
        }
    }
}
