@mixin pad{
    @media(max-width: 1024px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 768px){
        @content;
    }
}

.sidebar_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #000000;
    @include pad{
        width: 200px;
    }
    @include mobile{
        position: relative;
        width: 100%;
    }
    
    .sidebar{
        color: #ffffff;
        width: 250px;
        @include pad{
            width: 200px;
        }
        @include mobile{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .photo{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            @include mobile{
                width: 100%;
                margin-top: 20px;
            }
            img{
                width: 40%;
            }
        }
        .title{
            margin-top: 10px;
            text-align: center;
            @include mobile{
                width: 100%;
            }
        }
        .nav{
            margin-top: 30px;
            text-align: center;
            @include mobile{
                width: 100%;
                margin-top: 10px;
            }
            ul{
                @include mobile{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                li{
                    margin-top: 10px;
                    a{
                        color: #fff;
                        border: none;
                        text-decoration: none;
                    }
                    a:hover{
                        font-weight: bold;
                    }
                    .selected{
                        color: yellow;
                        font-weight: bold;
                    }
                    @include mobile{
                        display: inline;
                        margin: 0 5px;
                    }
                }
            }
        }
        .remarks{
            margin-top: 80px;
            padding-left: 50px;
            line-height: 30px;
            @include pad{
                padding-left: 25px;
            }
            @include mobile{
                margin: 15px 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                p{
                    display: inline;
                }
                p.comma::after{
                    content: "ï¼Œ";
                }
            }
        }
    }
}
